<div class="container mt-5">
  <h1>Index</h1>

  <ul>
    <% @lists.each do |list| %>
      <li><%= link_to list.title, movie_path(list) %></li>
    <% end %>
  </ul>

  <%= link_to "Add a movie" , lists_new_path %>

</div>
